
<h1>Invite People</h1>
<%= form_tag("/players") do %>
  <%= label_tag(:q, "Search for users:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Search") %>
<% end %>

<% @users.each do |u|%>
  <li><%= u.username %><%=link_to("Invite Player", root_path)%></li>
<%end%>
