<h1>Welcome <%= @user.username %></h1>
<%=link_to("Search Games",'/search')%>
<%=link_to("Create a Game",new_game_path)%>
  <p>Game Requests</p>
  <ul id="requests">
  <%@requests.each do |i|%>
    <li><%= i.game.name%><%= link_to("accept", game_score_path(i.game,i), html_options = {method: "patch"})%></li>
  <%end%>
  </ul>

  <p>On Going Games</p>
  <ul id="ongoing">
  <%@ongoing.each do |i|%>
    <li><%= link_to(i.game.name, root_path)%></li>
  <%end%>
  </ul>

  <ul id="finished">
  <p>Past Games</p>

  <%@finished.each do |i|%>
    <li><%= link_to(i.game.name, game_path(i.game.id))%></li>
  <%end%>
  </ul>
