<h1>Welcome <%= @user.username %></h1>
<%=link_to("Search Games",'/search')%>
  <p>Game Requests</p>
  <ul class="game">
  <%@requests.each do |i|%>
    <%= link_to(i, game_score_path(i.game,i), html_options = {method: "patch"})%>
  <%end%>
  </ul>

  <p>On Going Games</p>
  <ul class="game">
  <%@ongoing.each do |i|%>
    <%= link_to(i, root_path)%>
  <%end%>
  </ul>

  <ul class="game">
  <p>Past Games</p>

  <%@finished.each do |i|%>
    <%= link_to(i.game.name, root_path)%>
  <%end%>
  </ul>
