<%= @game.name%>
<% if @players.length == 1%>
<h1>Invite People</h1>
<%= form_tag("/players") do %>
  <%= label_tag(:q, "Search for users:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Search") %>
<% end %>
<% else %>

<table class="player">
  <thead>
    <tr class="users">
      <th>Players</th>
      <%@players.each do |p|%>
      <th><%= p.username%></th>
      <% end%>  
    </tr>
 </thead>   
    <tr>
    <th>Stock</th>
      <%@players.each do |p|%>
      <td class="score"><%= p.scores.find_by_game_id(@game.id).stocks%></td>
    <%end%>
    </tr>
    <tr>
	    <th>Bonds</th>
      <%@players.each do |p|%>
	      <td class="bond"><%= p.scores.find_by_game_id(@game.id).bonds%></td>
	    <%end%>
    </tr>
    <tr>
      <th>Real Estate</th>
      <%@players.each do |p|%>
        <td class="real_estate"><%= p.scores.find_by_game_id(@game.id).real_estates%></td>
      <%end%>
    </tr>
    <tr>
      <th>Commodities</th>
      <%@players.each do |p|%>
        <td class="commodity"><%= p.scores.find_by_game_id(@game.id).commodities%></td>
      <%end%>
    </tr>
    <tr>
      <th>Cash</th>
      <%@players.each do |p|%>
        <td class="cash"><%= p.scores.find_by_game_id(@game.id).cash%></td>
      <%end%>
    </tr>      
    <th>Net</th>
      <%@players.each do |p|%>
        <td class="net"><%= p.scores.find_by_game_id(@game.id).net%></td>
      <%end%>
    </tr>

</table>    
<%end%>